<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="author"       content="{{ site.author }}" />
    <meta name="description"  content="{{ page.teaser }}" />
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" />
    <link rel="stylesheet"    href="{{ site.baseurl }}{{ page.stylesheet }}">
    <link rel="stylesheet"    href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700|Source+Sans+Pro:600,600i,400,400i|Source+Code+Pro|Alegreya">
  </head>
  <body>
    {{ content }}
  </body>
</html>
